@charset "UTF-8";
@font-face {
    font-family: worksans-bold;
    src: url(../fonts/static/WorkSans-Bold.ttf);
}
@font-face {
    font-family: worksans-regular;
    src: url(../fonts/static/WorkSans-Regular.ttf);
}
@font-face {
    font-family: worksans-semibold;
    src: url(../fonts/static/WorkSans-SemiBold.ttf);
}
@font-face {
    font-family: worksans-italicvariable;
    src: url(../fonts/static/WorkSans-Italic-VariableFont_wght.ttf);
}   
@font-face {
    font-family: worksans-variable;
    src: url(../fonts/static/WorkSans-VariableFont_wght.ttf);
}
    
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root {
    --White: hsl(0, 100%, 100%);
    --Purple100: hsl(275, 100%, 97%);
    --Purple600: hsl(292, 16%, 49%);
    --Purple950: hsl(292, 42%, 14%);
}

header {
    background-image: url(../images/background-pattern-desktop.svg);
    width: 100vw; 
    height: 40vh ;
    background-size: cover;
    position: absolute;
}
body  {
    background-color: var(--Purple100);
    position: relative;
    width: 100vw;
    height: 100vh;
}
/*Configuração do main externo*/
div#main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}
/*--------------------------------------*/

/*Configuração do main interno*/
main {
    background-color: var(--White);
    max-width: 625px;
    height: auto;
    padding: 30px;
    border-radius: 10px;
    z-index: 1;
    box-shadow: -5px 5px 8px 5px rgba(0, 0, 0, 0.178);
}
main > h1 {
    font-family: worksans-variable;
    color: var(--Purple950);
    margin-bottom: 40px;
    font-size: 2.3em;
}
/*--------------------------------------*/
section {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}
section > img {
    cursor: pointer;
    transition: transform 0.5s ease;
}
section > img.rotated {
    transform: rotate(180deg);
}
main > section > h2 {
    font-family: worksans-semibold;
    color: var(--Purple950);
    font-size: 1.1em;
    margin-bottom: 20px;
}
.hidden {
    display: none;
}
main > article {
    width: 90%;
}
main > article > p {
    font-family: worksans-regular;
    color: var(--Purple600);
    font-size: 1em;
    margin: 0px 0px 10px 0px;
}

div.attribution {
    margin-top: 20px;
    color: var(--Purple600);
    font-family: worksans-italicvariable;
    text-align: center;
}
div.attribution > p > a {
    text-decoration: none;
    color: var(--Purple950);
    background-color: rgba(128, 0, 128, 0.5);
    padding: 2px;
}